
/**
 * @file
 * Quickfix stylesheet file.
 *
 * Contains immediate fixes that should be revised later and added in the
 * main.css.
 */

 .delete-venue {
    border: none;
    outline: none;
    color: red;
    float: right;
    cursor: pointer;
    background-color: rgba(255,255,255, 0);
    font-size: 20px;
    align-self: flex-start;
  }

  ul.items > li {
    display: flex;
    justify-content: space-between;
  }